<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>about us</title>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,500,600,800' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Audiowide' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="http://libs.baidu.com/bootstrap/3.0.3/css/bootstrap.css">

</head>
<body>
<section class="team">
    <div class="container">
        <div class="section-heading" style="text-align: center;margin-bottom: 100px">
            <h2>Meet The Team</h2>
            <div class="section-dec"></div>
        </div>
        <div class="col-md-4" style="text-align: center;">
            <div class="team-member">
                <img src="https://avatars2.githubusercontent.com/u/14145127?v=3&s=460" class="img-rounded" alt="" style="width: 200px;height: 200px">
                <div class="team-content">
                    <h3>Zexin Zhao</h3>
                    <span>https://github.com/jzhao891</span>
                    <p></p>
                </div>

            </div>
        </div>
        <div class="col-md-4" style="text-align: center;">
            <div class="team-member">
                <img src="https://avatars0.githubusercontent.com/u/16521073?v=3&s=460" class="img-rounded" alt="" style="width: 200px;height: 200px">
                <div class="team-content">
                    <h3>Hongyu Han</h3>
                    <span>https://github.com/DereckHan</span>
                    <p></p>
                </div>
            </div>
        </div>
        <div class="col-md-4" style="text-align: center;">
            <div class="team-member">
                <img src="https://avatars0.githubusercontent.com/u/15441008?v=3&s=460" alt="" class="img-rounded" style="width: 200px;height: 200px">
                <div class="team-content">
                    <h3>Bolun Zhang</h3>
                    <span>https://github.com/yundanangel</span>
                    <p></p>
                </div>

            </div>
        </div>
    </div>
</section>
</body>
</html>