<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Apps</title>
    <meta charset="UTF-8"/>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>
    <script src="http://libs.baidu.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
    <link href="http://libs.baidu.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet"/>
</head>
<body>

<div class="row">
    <ul id="myTab" class="nav nav-tabs">
        <li class="active"><a href="/app">Home</a></li>
        <li th:class="${category=='Books'} ? active : ''"><a href="/app/Books">Books</a></li>
        <li th:class="${category=='Business'} ? active : ''"><a href="/app/Business">Business</a></li>
        <li th:class="${category=='Catalogs'} ? active : ''"><a href="/app/Catalogs">Catalogs</a></li>
        <li th:class="${category=='Education'} ? active : ''"><a href="/app/Education">Education</a></li>
        <li th:class="${category=='Entertainment'} ? active : ''"><a href="/app/Entertainment">Entertainment</a></li>
        <li th:class="${category=='Finance'} ? active : ''"><a href="/app/Finance">Finance</a></li>
        <li th:class="${category=='Food_Drink'} ? active : ''"><a href="/app/Food_Drink">Food &amp; Drink</a></li>
        <li th:class="${category=='Games'} ? active : ''"><a href="/app/Games">Games</a></li>
        <li th:class="${category=='Health_Fitness'} ? active : ''"><a href="/app/Health_Fitness">Health &amp; Fitness</a></li>
        <li th:class="${category=='Lifestyle'} ? active : ''"><a href="/app/Lifestyle">Lifestyle</a></li>
        <li th:class="${category=='News'} ? active : ''"><a href="/app/News">News</a></li>
        <li th:class="${category=='Productivity'} ? active : ''"><a href="/app/Productivity">Productivity</a></li>
        <li th:class="${category=='Photo_Video'} ? active : ''"><a href="/app/Photo_Video">Photo &amp; Video</a></li>
        <li th:class="${category=='Magazines_Newspapers'} ? active : ''"><a href="/app/Magazines_Newspapers">Magazines &amp; Newspapers</a></li>
        <li th:class="${category=='Music'} ? active : ''"><a href="/app/Music">Music</a></li>
        <li th:class="${category=='Travel'} ? active : ''"><a href="/app/Travel">Travel</a></li>
        <li th:class="${category=='Reference'} ? active : ''"><a href="/app/Reference">Reference</a></li>
        <li th:class="${category=='Sports'} ? active : ''"><a href="/app/Sports">Sports</a></li>
        <li th:class="${category=='Medical'} ? active : ''"><a href="/app/Medical">Medical</a></li>
        <li th:class="${category=='Social_Networking'} ? active : ''"><a href="/app/Social_Networking">Social Networking</a></li>
        <li th:class="${category=='Utilities'} ? active : ''"><a href="/app/Utilities">Utilities</a></li>
        <li th:class="${category=='Shopping'} ? active : ''"><a href="/app/Shopping">Shopping</a></li>
        <li th:class="${category=='Navigation'} ? active : ''"><a href="/app/Navigation">Navigation</a></li>
        <li th:class="${category=='Weather'} ? active : ''"><a href="/app/Weather">Weather</a></li>
    </ul>
    <div class="container-fluid" style="padding-top: 30px;">
        <div class="row-fluid">
            <div th:each="index:${#numbers.sequence( 0, #lists.size(appList)-1)}"
                 class="col-xs-4 col-md-3 col-lg-2">
                <a th:href="|/app/${appList[index].category}/${appList[index].appID}|"
                   class="thumbnail">
                    <img th:src="${appList[index].url}" Gooleclass="img-rounded"></img>
                </a>
                <!--换行不正确-->
                <!--<a th:text="${appList[index].name}" th:href="|/app/${appList[index].category}/${appList[index].appID}|" class="text-muted">Porkmon GO</a>-->
                <a th:text="${appList[index].category}"
                   th:href="|app/${appList[index].category}|"
                   class="text-muted"
                   style="font-size: 12px;display: block">Games</a>
            </div>
        </div>
    </div>
</div>

</body>
</html>