<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${app.name}"></title>
    <meta charset="UTF-8"/>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>
    <script src="http://libs.baidu.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
    <link href="http://libs.baidu.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet"/>
    <script th:inline="javascript">
        $(document).ready(function () {
            $("#extend").click(function () {
                $('.collapse').collapse();
                if ($(this).text() == "Learn More") {
                    $(this).text("Hide");
                } else {
                    $(this).text("Learn More");
                }
            })
        });

    </script>
    <style>
        .carousel-inner img {
            margin: auto;
        }

        .row div {
            margin: auto;
        }

    </style>

</head>
<body>

<div class="container">
    <div class="row">
        <div class="col-sm-10 col-md-10 col-lg-10">
            <div class="row">
                <div class="col-sm-4 col-md-4 col-lg-4">
                    <img th:src="${app.url}" th:alt="${app.name}" class="img-thumbnail">
                    </img>
                </div>
                <div class="col-sm-8 col-md-8 col-lg-8">
                    <p th:text="${app.name}"></p>
                    <p th:text="${#calendars.format(app.lauch_time,'MMMM dd yyyy')}"></p>
                </div>
            </div>
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">Description</h3>
                </div>
                <div class="panel-body">
                    <p th:text="${description[0]}">
                    </p>
                    <a th:if="${#lists.size(description)}>1" id="extend" href="#LearnMore" data-toggle="collapse" class="text-right">Learn More</a>
                    <div id="LearnMore" class="collapse">
                        <p th:if="${#lists.size(description)}>1"
                           th:each="index:${#numbers.sequence( 1, #lists.size(description)-1)}"
                           th:text="${description[index]}"></p>
                    </div>
                </div>
            </div>
            <div class="panel panel-info">
                <div class="panel-heading"><h5>Screenshots:</h5></div>
                <div class="panel-body">
                    <div th:if="${screenShots}!=null" class="row">
                        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                            <ol class="carousel-indicators">
                                <li th:each="index:${#numbers.sequence( 0, #lists.size(screenShots)-1)}"
                                    th:attr="data-slide-to=${index}" th:class="${index== 0} ? active : ''"
                                    data-target="#carousel-example-generic" data-slide-to="0"></li>
                            </ol>
                            <div class="carousel-inner" role="listbox">
                                <div th:each="index:${#numbers.sequence( 0, #lists.size(screenShots)-1)}"
                                     th:classappend="${index==0} ? active : ''" class="item">
                                    <img th:src="${screenShots[index]}"
                                         src="http://a2.mzstatic.com/us/r30/Purple60/v4/07/48/ea/0748ea05-0652-ee23-f076-b006aca45fde/screen696x696.jpeg">
                                    </img>
                                </div>
                            </div>
                            <a class="left carousel-control" href="#carousel-example-generic" role="button"
                               data-slide="prev">
                                <span class="icon-prev" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="right carousel-control" href="#carousel-example-generic" role="button"
                               data-slide="next">
                                <span class="icon-next" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-2 col-md-2 col-lg-2">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h6>You May Also Like:</h6>
                </div>
                <div class="panel-body">
                    <div th:each="relatedApp:${relatedAppsList}" class="row"
                         style="padding-bottom: 20px;text-overflow: ellipsis;overflow: hidden;">
                        <a th:href="|/app/${relatedApp.category}/${relatedApp.appID}|" class="thumbnail">
                            <img th:src="${relatedApp.url}" th:alt="${relatedApp.name}" class="img-responsive"></img>
                        </a>
                        <a th:text="${relatedApp.name}" th:href="|/app/${relatedApp.category}/${relatedApp.appID}|"
                           class="text-muted"
                           style="font-size: 12px;">Porkmon GO</a>
                        <a th:text="${relatedApp.category}" th:href="|app/${relatedApp.category}|" class="text-muted"
                           style="font-size: 12px;display: block">Games</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>