<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Main Page</title>
    <meta charset="UTF-8"/>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>
    <script src="http://libs.baidu.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
    <link href="http://libs.baidu.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="http://libs.baidu.com/bootstrap/3.0.3/css/bootstrap.css" rel="stylesheet"/>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
<!--Banner-->
<div class="header">
    <div class="container" style="padding-left: 120px;padding-right: 120px;">
            <div class="col-xs-2 col-md-2 col-lg-2" style="padding-left: 0px;">
                <a href="Index.jsp"><img src="../img/AppleStore.png" alt="logo" width="50px"></a>
            </div>
            <div class="col-xs-7 col-md-7 col-lg-7"></div>
            <div class="col-xs-3 col-md-3 col-lg-3">
                <form class="navbar-form navbar-right">
                    <div class="form-group"><a href="app"><span>Show Me All Apps</span></a></div>
                </form>

            </div>
    </div>
</div>

<div class="container" style="margin-top: 10px;padding-left: 120px;padding-right: 120px;">

    <!--Top24-->
    <div class="row" style="margin-bottom: 20px">

        <div class="row" style="margin-bottom: 20px">
            <div class="col-xs-2 col-md-2 col-lg-2"><h5>Top Apps</h5></div>
            <div class="col-xs-8 col-md-8 col-lg-8"></div>
            <div class="col-xs-2 col-md-2 col-lg-2"><h6><a href="/top100">See More</a></h6></div>
        </div>



        <div th:each="index:${#numbers.sequence( 0, 23)}" class="col-xs-3 col-md-2 col-lg-1" style="padding-left:0px;text-overflow: ellipsis;overflow: hidden;white-space: nowrap;">
            <a th:href="|/app/${top100[index].category}/${top100[index].appID}|"
               class="thumbnail">
                <img th:src="${top100[index].url}" Gooleclass="img-rounded"></img>
            </a>
            <a th:text="${top100[index].name}" th:href="|/app/${top100[index].category}/${top100[index].appID}|"
               class="text-muted" style="font-size: 12px">Porkmon GO</a>
            <a th:text="${top100[index].category}" th:href="|app/${top100[index].category}|"
               class="text-muted"
               style="font-size: 12px;display: block">Games</a>
        </div>
    </div>
    <!--Popular App-->
    <div class="row">
        <div class="row" style="margin-bottom: 5px">
            <div class="col-xs-4 col-md-4 col-lg-3"><h5>Popular Apps We Love</h5></div>
        </div>

        <ul id="myTab" class="nav nav-tabs">
            <li class="active"><a href="/Entertainment">Entertainment</a></li>
            <li><a href="/Games">Games</a></li>
            <li><a href="/Health_Fitness">Health &amp; Fitness</a></li>
            <li><a href="/News">News</a></li>
            <li><a href="/Productivity">Productivity</a></li>
            <li><a href="/Photo_Video">Photo &amp; Video</a></li>
            <li><a href="/Music">Music</a></li>
            <li><a href="/Shopping">Shopping</a></li>
            <li><a href="/Social_Networking">Social Networking</a></li>
            <li><a href="/Utilities">Utilities</a></li>
        </ul>
        <div style="padding-top: 30px;">
            <div class="row">
                <div th:each="index:${#numbers.sequence( 0, 23)}" style="text-overflow: ellipsis;overflow: hidden;white-space: nowrap;"
                     class="col-xs-3 col-md-2 col-lg-1">
                    <a th:href="|/app/${popular24[index].category}/${popular24[index].appID}|"
                       class="thumbnail">
                        <img th:src="${popular24[index].url}" Gooleclass="img-rounded"></img>
                    </a>
                    <!--换行不正确-->
                    <a th:text="${popular24[index].name}" th:href="|/app/${popular24[index].category}/${popular24[index].appID}|" class="text-muted" style="font-size: 12px">Porkmon GO</a>
                    <a th:text="${popular24[index].category}"
                       th:href="|app/${popular24[index].category}|"
                       class="text-muted"
                       style="font-size: 12px;display: block">Games</a>
                </div>
            </div>
            <div class="row" style="margin-bottom: 20px;">
                <div class="col-xs-2 col-md-2 col-lg-2"></div>
                <div class="col-xs-8 col-md-8 col-lg-8"></div>
                <div class="col-xs-2 col-md-2 col-lg-2"><h6><a href="/popularApps/Entertainment">See More</a></h6></div>
            </div>

        </div>
    </div>
</div>
<script>
    function getScrollTop(){
        return document.body.scrollTop;//get y value of scroller
    }
    window.onscroll = function(){
        if(getScrollTop()  > 0){
            $('.header').css('position','fixed');
            $('.header').css('background-color','whitesmoke');
        }


        else{
            $('.header').css('position','relative');
            $('.header').css('background-color', 'gainsboro');
        }

    }
</script>
</body>
</html>
